

<header class="container">
    <div>
      <button type="submit" (click)="returnlogin()">Volver a login</button>
        <h2 class="titulo">Candidato</h2>
    </div>
    <div class="container2">
        <div class="perfil">
            <img src="referida.jpg" alt="">
              <div class="CajaSelecandInfo">
                <select  name="color" id="color">
                    <option value="r">Barrio</option>
                    <option value="a">edwin</option>
                    <option value="v">lalo</option>
                </select>
             </div>     
        </div>
        <div class="Informacionpersonal">
            <h3>19 Años tecnico en informatica</h3>
            <ul>
                <li>Aptitud :</li>
                <li>Ingles :</li>
                <li>Edo.Civil :</li>
            </ul>
            <div class="valoracion">
                <input id="radio1" type="radio" name="estrellas" value="5">
                <label for="radio1">★</label>
                <input id="radio2" type="radio" name="estrellas" value="4">
                <label for="radio2">★</label>
                <input id="radio3" type="radio" name="estrellas" value="3">
                <label for="radio3">★</label>
                <input id="radio4" type="radio" name="estrellas" value="2">
                <label for="radio4">★</label>
                <input id="radio5" type="radio" name="estrellas" value="1">
                <label for="radio5">★</label>
             </div>
            </div>
            <li></li>
        <div class="nav">    
                <nav>         
                    <ul>
                        <li><a href="">Perfil</a></li>
                        <li><a href="">Soft Skill</a></li>
                        <li><a href="">Reviews</a></li>
                    </ul>
                </nav> 
        </div>
        <table class="responsivegene">
            <tbody>
              <td>
                <tr class="color">Nombre Completo</tr>
                <tr >Domicilio</tr>
                <tr  class="color" >Id.de Genro</tr>
                <tr >Bachillerato</tr>
                <tr  class="color">Especialidad de Bachiller</tr>
                <tr  >Estatus de Especialidad </tr>
                <tr class="color">Estudios Superiores</tr>
                <tr  >Escuela Superior</tr>
                <tr class="color">Carrera</tr>
                <tr  >Ultimo Sememstre</tr>
                <tr class="color">Tecnologias que usa</tr>
                <tr >Experiencia en el ramo</tr>
                <tr class="color">Estado Civil</tr>
                <tr >Vivienda</tr>
              </td>
              <td>
                <tr class="color">Nombre Completo</tr>
                <tr >Domicilio</tr>
                <tr  class="color" >Id.de Genro</tr>
                <tr >Bachillerato</tr>
                <tr  class="color">Especialidad de Bachiller</tr>
                <tr  >Estatus de Especialidad </tr>
                <tr class="color">Estudios Superiores</tr>
                <tr  >Escuela Superior</tr>
                <tr class="color">Carrera</tr>
                <tr  >Ultimo Sememstre</tr>
                <tr class="color">Tecnologias que usa</tr>
                <tr >Experiencia en el ramo</tr>
                <tr class="color">Estado Civil</tr>
                <tr >Vivienda</tr>
              </td>
            </tbody>
          </table>  
        
    </div>
</header>